body{
    background-color: #F5F7FA!important;
}


.head-theme {
    background-color: #F5F7FA!important;
    /* padding: 0px; */
    /* border: none; */
}

.navbar-brand {
    margin-left: 30px;
    /* margin: 0px; */
}

.h-h3-theme {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    /* margin-left: 0px; */
    padding-top: 15px;
    /* margin-top: 20px; */
}

.h-list-theme {
    color: #18191F;
    gap: 20px;
    margin-left: 380px;
}

.h-btn {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 50px;
}
.h-btn>a>.h-btn-1{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    color: #4CAF4F;
    padding: 8px;
    width: 80px;

}
.h-btn>a>.h-btn-2{
    background-color: #4CAF4F;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding: 8px;
    width: 80px;
}

.art-1{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* gap: 50px; */
    justify-content: space-around;
    align-items: center;
}

.left-side>h1{
    /* line-height: 1.5rem; */
    font-family: sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #4D4D4D;
}
.left-side>h1>span{
    color: #4CAF4F;
}
.left-side>p{
    color: #717171;
}
.left-side>a>button{
    background-color: #4CAF4F;
    width: 80px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding: 8px;
    width: 80px;
}